@model TravelBlog.Models.Person
@{

}

<h2>Create new Person</h2>
    <hr />
    @using (Html.BeginForm())
    {
        <p>Describe your Person</p>

        @Html.LabelFor(model => model.Name)
        @Html.TextBoxFor(model => model.Name)

        @Html.LabelFor(model => model.Email)
        @Html.TextBoxFor(model => model.Email)

<<<<<<< HEAD
    
=======
        @Html.LabelFor(model => model.LocationPerson)
        @Html.DropDownList("Locations")

        <br/>
>>>>>>> 995b09ebcde5ac7f8f4e7f73bc87adb01dff7ea0

        <br/>
        @Html.LabelFor(model => model.LocationPerson)
        @Html.DropDownList("Locations")
        <br/>

        <input type="submit" value="Add this experience" />
    }

<p>@Html.ActionLink("Back to list", "Index", "Location")</p>